<script src="https://npmcdn.com/vue/dist/vue.js"></script>

<div id="app">
    <ul>
        <li v-for="(fruit,i) in fruits" :key="fruit">{{ fruit }} {{ i }}</li>
        <!-- :key -> [Vue warn]: Duplicate keys detected: 'melon'. This may cause an update error. -->
    </ul>
    <button @click="fruits.push('melon')">add</button>
    <ul>
        <li v-for="person in persons">
            <div v-for="(value,key,index) in person">{{key}} : {{value}} ({{index}})</div>
        </li>
    </ul>
</div>


<script>
new Vue({
    el:'#app',
    data:{
        fruits : ['apple','straw','berry','banana'],
        persons: [
            {name:'Max',age:'25',Job:'stylelist'},
            {name:'ahn',age:'30',Job:'teacher'},
        ]
    }
})
</script>